{% extends "admin/base.html" %}

{% block title %}Crocodile{% endblock %}

{% block branding %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Black+Chancery&display=swap');

    #site-name {
        font-family: 'Black Chancery', cursive;
        color: #004d40;
        font-size: 2.5em;
        margin: 0;
        padding: 10px 0;
        text-align: center;
    }

    #site-name a {
        color: #004d40;
        text-decoration: none;
    }

    #site-name a:hover {
        color: #00332e;
    }
</style>

<h1 id="site-name"><a href="{% url 'admin:index' %}">Crocodile</a></h1>
{% endblock %}

{% block nav-global %}
{% endblock %}
